.header {
  border-bottom: 1px solid $black;
  padding: 10px 0;
  .menu {
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    &__left {
      li {
        padding-right: 20px;
      }
      img {
        padding-right: 8px;
      }
    }
    &__right {
      li {
        padding-left: 20px;
      }
    }

  }
}
.logo {
  text-align: center;
  div {
    padding: 20px 0;
  }
  .info {
    span {
      padding: 0 10px;
    }
  }

}
