nav.menu {
  background-color: $naraja;
  margin-bottom: 0;
  @media (max-width: 767px) {
    background-color: transparent;
  }
  img.logo_mobile {
    padding-left: 26px;
    padding-top: 12px;
    width: 220px;
  }
  .lista {
    display: flex;
    width: 100%;
    min-height: 50px;
    align-items: center;
    @media (max-width: 767px) {
     flex-direction: column;
      min-height: inherit;
    }
    li {
      color: white;
      flex: 1;
      @media (max-width: 767px) {
        margin: 5px 0;
        color: black;
        cursor: pointer;
        &:hover{
          border-bottom: 1px solid $naraja;
        }
      }
    }

  }
}
