.header {
  border-bottom: 1px solid black;
  padding: 10px 0; }
  .header .menu {
    padding: 0;
    text-transform: uppercase;
    font-size: 13px; }
    .header .menu__left li {
      padding-right: 20px; }
    .header .menu__left img {
      padding-right: 8px; }
    .header .menu__right li {
      padding-left: 20px; }

.logo {
  text-align: center; }
  .logo div {
    padding: 20px 0; }
  .logo .info span {
    padding: 0 10px; }

nav.menu {
  background-color: #F7B617;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    nav.menu {
      background-color: transparent; } }
  nav.menu img.logo_mobile {
    padding-left: 26px;
    padding-top: 12px;
    width: 220px; }
  nav.menu .lista {
    display: flex;
    width: 100%;
    min-height: 50px;
    align-items: center; }
    @media (max-width: 767px) {
      nav.menu .lista {
        flex-direction: column;
        min-height: inherit; } }
    nav.menu .lista li {
      color: white;
      flex: 1; }
      @media (max-width: 767px) {
        nav.menu .lista li {
          margin: 5px 0;
          color: black;
          cursor: pointer; }
          nav.menu .lista li:hover {
            border-bottom: 1px solid #F7B617; } }

.actualNews {
  margin-bottom: 50px; }
  .actualNews .firstNews {
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px; }
    .actualNews .firstNews__info {
      padding: 10px 350px 15px 50px;
      color: white; }
      .actualNews .firstNews__info--title {
        margin: 0; }
      .actualNews .firstNews__info--brief {
        padding-right: 320px; }
  .actualNews .act-news .news__Img {
    height: 267px;
    min-height: 267px; }
    .actualNews .act-news .news__Img img {
      height: 100%; }
  .actualNews .act-news .news__info {
    height: 100px;
    min-height: 100px; }

.news__info {
  background-color: #2B2B2B;
  display: flex;
  align-items: center; }
  .news__info--title {
    padding: 10px 20px 5px 20px;
    color: white;
    font-weight: bold; }

.mundoNews .contenedor {
  margin-bottom: 30px; }
  .mundoNews .contenedor .newsGrande .news__Img {
    min-height: 379px; }
    .mundoNews .contenedor .newsGrande .news__Img--img {
      width: 100%;
      height: 100%; }
  .mundoNews .contenedor .newsCentro div {
    margin-bottom: 5px; }

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

body {
  margin: 0;
  padding: 0; }

.pd-l-0 {
  padding-left: 0; }

.pd-r-0 {
  padding-right: 0; }

.pd-0 {
  padding: 0; }

.linea {
  width: 40px;
  border: 3px solid #F7B617;
  align: left; }

.title {
  font-weight: 900; }
